@using Microsoft.Extensions.Hosting;
@using Microsoft.AspNetCore.Hosting
@using System.Globalization;
@using WEB.APP.Localization

@inject IOptionsMonitor<CookieAuthenticationOptions> cookieOptions
@inject IWebHostEnvironment hostEnvironment;
@inject IMessageLocalizer MessageLocalizer
@{

    if ("th" == "th")
    {
        CultureInfo.CurrentCulture = new CultureInfo("th-TH", false);
        CultureInfo.CurrentUICulture = new CultureInfo("th-TH", false);
    }



    var uiCulture = System.Threading.Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName.ToLowerInvariant();
    var appName = "MES Framework";
    var companyName = "MES Framework";
    var isAuthenticated = User.Identity.IsAuthenticated;
    var pageTitle = ViewBag.PageTitle ?? "";
    var pageIcon = ViewBag.PageIcon ?? "cube";
    var title = String.IsNullOrEmpty(pageTitle) ? string.Format("{0}", appName) : string.Format("{0} | {1} ", pageTitle, appName);

}

@{
    var userData = User.GetUserData();
}
<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="@appName" />
    <meta name="environment" content="@hostEnvironment.EnvironmentName" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>@title</title>


    @await Html.PartialAsync("libs/_libs_css")
    @await Html.PartialAsync("libs/_libs_js")

    <link rel="stylesheet" href="~/assets/css/site_bar.css" asp-append-version="true" />


    @RenderSection("Styles", required: false)
</head>
<script>
    var culture = kendo.culture("en-GB");
</script>
<body id="site-section">
   
    <main>


        @await Html.PartialAsync("_SidebarMenu")
        <div class="site-section" style="margin-left:80px">
            @if (isAuthenticated)
            {
                <!-- Page Title -->
                @if (!String.IsNullOrEmpty(pageTitle))
                {
                    @*<div class="page-title"><i class="fas fa-@pageIcon"></i> @pageTitle</div>*@

                    <div class="page-title">
                        <div class="page-title-body "><i class="fas fa-@pageIcon" style="padding-right:10px;"></i> @pageTitle  </div>


                    </div>

                }
                else
                {
                    <div class="mb-2"></div>
                }
            }
            <div class="page-content container-fluid mb-2">
                @RenderBody()
            </div>
        </div>
    </main>


    <div id="notifications" style="display:none"></div>
    <div id="ajax-notifications" style="display:none"></div>
    @*@MessageLocalizer["EM0010"]*@
    @*<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/DashboadHub").build();
    //$( document ).ready(function() {
    //    console.log( "ready!" ,connection);
    //});
    connection.start().then(function () {
    connection.invoke("SendNotification", "@User.GetUserData().UserName").catch(function (err) {
    return console.error(err.toString());
    });

    }).catch(function (err) {
    return console.error(err.toString());
    });
    connection.on("SendNotification", function (data) {
    //$("#number-notification").html("111");

    console.log("data",data);
    });
    </script>*@

    @RenderSection("Scripts", required: false)
</body>
</html>

<script>

    @*console.log("lang => @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)");

        const result = "@MessageLocalizer["EM0011"]".replace(/&#x([0-9A-F]{1,4});/g, function (match, p1) {
        return String.fromCharCode(parseInt(p1, 16));
        });
        console.log(result);






        console.log(messageLocalizer.binaryToString("@MessageLocalizer["EM0011"]"));
        let MessageLocalizerDataNotFound = "@MessageLocalizer["DataNotFound"]";
        app.ui.confirmDialog({ content: format(result, " aas ") });
        app.ui.confirmDialog({ content: MessageLocalizerDataNotFound });
        // app.ui.confirmDialog({ content: "@MessageLocalizer["ConfirmSave"]" });*@
</script>
