
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc


<style>
    .k-grid td {
        border-bottom: 1px solid white;
        border-right: 1px solid white;
    }

    .k-grid button.k-button-icontext {
        color: white;
        /*  */
    }

    .btn-icon-grid {
        background-color: #11439E !important;
    }

    .k-grid {
        border: 0.1mm solid white;
    }

    .k-window-titlebar {
        background-color: #11439E;
        color: white;
    }

</style>


@{

    var objectId = (string)ViewBag.ObjectId;
    /*
    var permissions = new
        {
        AllowView = User.HasPermission(objectId, PermissionNames.View.FunctionCode),
        AllowNew = User.HasPermission(objectId, PermissionNames.New.FunctionCode),

        AllowEdit = User.HasPermission(objectId, PermissionNames.Edit.FunctionCode),

        AllowDelete = User.HasPermission(objectId, PermissionNames.Delete.FunctionCode),

        AllowExport = User.HasPermission(objectId, PermissionNames.Export.FunctionCode),

        AllowPrint = User.HasPermission(objectId, PermissionNames.Print.FunctionCode)

    };
    */

    var permissions = new
    {
        AllowView = true,
        AllowNew = true,
        AllowEdit = true,
        AllowDelete = true,
        AllowExport = true,
        AllowPrint = true
    };

}
<script type="text/javascript">
    let permissions = {
        AllowView: common.Boolean("@permissions.AllowView"), AllowNew: common.Boolean("@permissions.AllowNew"), AllowEdit: common.Boolean("@permissions.AllowEdit"), AllowDelete: common.Boolean("@permissions.AllowDelete"), AllowExport: common.Boolean("@permissions.AllowNew"), AllowPrint: common.Boolean("@permissions.AllowPrint"),
    }

    var messageDialog = new MessageDialog();
</script>


<div id="search-container" class="card bg-light">
    <div class="card-body">
        <div class="row form-group justify-content-center">

            @* <label for="search" class="col-form-label  col-sm-5 col-md-2 col-lg-1  text-left text-md-right mt-2 mb-2">@MessageResources["SWS120", "SC001"]  </label>
            <div class="col-lg-2 col-sm-4 mt-2 mb-2">
            <input id="sc-list" style="width:100%;" />
            </div> *@

            <label for="search" class="col-form-label  col-sm-5 col-md-2 col-lg-1  text-left text-md-right mt-2 mb-2">Shift / Pattern Name :</label>
            <div class="col-lg-2 col-sm-4 mt-2 mb-2">
                <input id="sc-shift-pattern" style="width:100%;" />
            </div>




        </div>

    </div>
</div>



<div id="message-container" class="alert alert-danger animated fadeIn mt-1" style="display:none"></div>

<div class="w-100  mt-2 justify-content-right">

    <div class="row pl-1 pr-1">
        <div class="mr-auto" style="margin-left:10px">
            @if (permissions.AllowNew)
            {

                @Html.NewButton().Events(ev => ev.Click("newdocumentButtonClicked"))
            }

        </div>
        <div class="  pl-md-0">


            @Html.SearchButton().Events(ev => ev.Click("searchButtonClicked"))

            @if (permissions.AllowExport)
            {
                @Html.ExportButton().Events(ev => ev.Click("exportButtonClicked"))
            }


            @Html.ClearButton().Events(ev => ev.Click("clearButtonClicked"))
        </div>

    </div>
</div>


<div id="grid-inquiry" class="mt-3"></div>

@await Html.PartialAsync("pms053_dialog")




<script type="text/javascript" src="~/assets/js/screenfuntion/production/master/pms050/pms052_funtion.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/screenfuntion/production/master/pms050/pms052_eventbutton.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/screenfuntion/production/master/pms050/pms053_dialog.js" asp-append-version="true"></script>


@* 
<script type="text/javascript" src="~/assets/js/screenfuntion/Master/Shift_Pattern/Shift_Pattern_Details/Shift_Pattern_Details_funtion.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/screenfuntion/Master/Shift_Pattern/Shift_Pattern_Details/Shift_Pattern_Details_eventButton.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/screenfuntion/Master/Shift_Pattern/Shift_Pattern_Details/Shift_Pattern_Details_funtion_dialog.js" asp-append-version="true"></script> *@

