






@{

    var objectId = (string)ViewBag.ObjectId;
    /*
    var permissions = new
        {
        AllowView = User.HasPermission(objectId, PermissionNames.View.FunctionCode),
        AllowNew = User.HasPermission(objectId, PermissionNames.New.FunctionCode),

        AllowEdit = User.HasPermission(objectId, PermissionNames.Edit.FunctionCode),

        AllowDelete = User.HasPermission(objectId, PermissionNames.Delete.FunctionCode),

        AllowExport = User.HasPermission(objectId, PermissionNames.Export.FunctionCode),

        AllowPrint = User.HasPermission(objectId, PermissionNames.Print.FunctionCode)

    };
    */

    var permissions = new
    {
        AllowView = true,
        AllowNew = true,
        AllowEdit = true,
        AllowDelete = true,
        AllowExport = true,
        AllowPrint = true
    };

}

<script type="text/javascript">
    let permissions = {
        AllowView: common.Boolean("@permissions.AllowView"), AllowNew: common.Boolean("@permissions.AllowNew"), AllowEdit: common.Boolean("@permissions.AllowEdit"), AllowDelete: common.Boolean("@permissions.AllowDelete"), AllowExport: common.Boolean("@permissions.AllowNew"), AllowPrint: common.Boolean("@permissions.AllowPrint"),
    }

    var messageDialog = new MessageDialog();
</script>



<div id="search-container" class="card bg-light">
    <div class="card-body m-2">
        <div class="row g-3 d-flex justify-content-lg-center">

            <div class="col-lg-3 col-md-6 col-sm-12">
                <label for="sc-shift" class="form-label">
                    @Resources["PMS050", "SC001"]
                </label>
                <input id="sc-shift" name="sc-shift" class="form-control" type="text" placeholder="@Resources["PMS050", "SC001"]" />
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <label for="sc-status" class="form-label">
                    @Resources["PMS050", "SC002"]
                </label>
                <input id="sc-status" name="sc-status" class="form-control" type="text" placeholder="@Resources["PMS050", "SC002"]" />
            </div>

          


        </div>
    </div>
</div>





<div id="message-container" class="alert alert-danger animated fadeIn mt-1" style="display:none"></div>

<div class="w-100  mt-2 justify-content-right">

    <div class="row pl-1 pr-1">
        <div class="mr-auto" style="margin-left:10px">
            @if (permissions.AllowNew)
            {

                @Html.NewButton().Events(ev => ev.Click("newdocumentButtonClicked"))
            }

        </div>
        <div class="  pl-md-0">


            @Html.SearchButton().Events(ev => ev.Click("searchButtonClicked"))

            @if (permissions.AllowExport)
            {
                @Html.ExportButton().Events(ev => ev.Click("exportButtonClicked"))
            }


            @Html.ClearButton().Events(ev => ev.Click("clearButtonClicked"))
        </div>

    </div>
</div>


<div id="grid-inquiry" class="mt-3"></div>

@await Html.PartialAsync("pms051_dialog")

@* 
<script type="text/javascript" src="~/assets/js/screenfuntion/Master/Shift_Pattern/Shift_Pattern_Header/Shift_Pattern_Header_funtion.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/screenfuntion/Master/Shift_Pattern/Shift_Pattern_Header/Shift_Pattern_Header_eventButton.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/screenfuntion/Master/Shift_Pattern/Shift_Pattern_Header/Shift_Pattern_Header_funtion_dialog.js" asp-append-version="true"></script>
 *@

<script type="text/javascript" src="~/assets/js/screenfuntion/production/master/pms050/pms050_funtion.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/screenfuntion/production/master/pms050/pms050_eventbutton.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/assets/js/screenfuntion/production/master/pms050/pms051_dialog.js" asp-append-version="true"></script>

