@inject IMessageLocalizer localizer




<div id="window-dialog" style="align-items: center; ">

    <div class="card">
        <div class="card-body">

            <div class="row form-group justify-content-start">
                <input type="hidden" id="status-mode" value="" />

                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-machine-code" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS041", "IP001"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-machine-code" name="ip-machine-code" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP001"]]" maxlength="50" />
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-machine-name" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS041", "IP002"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-machine-name" name="ip-machine-name" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP002"]]" maxlength="250" />
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-line-name" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS041", "IP003"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-line-name" name="ip-line-name" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP003"]]" maxlength="50" />
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-process-name" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS041", "IP004"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-process-name" name="ip-process-name" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP004"]]" maxlength="250" />
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-machine-warning-time" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS041", "IP005"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-machine-warning-time" name="ip-machine-warning-time" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP005"]]" maxlength="250" />
                </div>


                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-machine-danger-time" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS041", "IP006"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-machine-danger-time" name="ip-machine-danger-time" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP006"]]" maxlength="250" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-machine-takt-time" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS041", "IP007"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-machine-takt-time" name="ip-machine-takt-time" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP007"]]" maxlength="50" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <div class="row">
                        <div class="col-4">
                            <label for="ip-status" class="col-form-label text-left text-md-start w-100">
                                @Resources["PMS041", "IP008"] <span class="text-color-red"> *</span>
                            </label>
                        </div>
                        <div class="col-8 ">
                            <div class="row justify-content-center">

                                <button class="k-warning k-button k-button-sm k-rounded-sm k-button-solid k-button-solid-base" id="upload-image-button" name="upload-image-button" onclick="uploadImage()"><i class="fa-solid fa-folder"></i><span class="k-button-text">Browse</span></button>
                                <button class="k-warning k-button k-button-sm k-rounded-sm k-button-solid k-button-solid-base" id="delete-image-button" name="delete-image-button" onclick="delelteImage()"><i class="fa-solid fa-trash"></i><span class="k-button-text">Clear</span></button>

                            </div>
                        </div>
                    </div>

                    <div class="col pl-0">
                        <div class="image size-fixed scale-fill">
                            <img src="/assets/images/no-photo.jpg" id="displayurl-picture" width="312" height="200" onerror="if (this.src != 'noimage.jpg') this.src = '/assets/images/no-photo.jpg';" />
                        </div>
                    </div>
                    <div class="col pl-0 d-none">
                        <input type="hidden" id="hidden-picture">
                        <input accept="image/*;capture=camera" aria-label="files" id="ip-picture" name="ip-picture" style="width:460px;" type="file" data-role="upload" autocomplete="off">

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <div class="d-grid">
                        <label for="ip-machine-location-image-left" class="col-form-label text-left text-md-start w-100">
                            @Resources["PMS041", "IP009"] <span class="text-color-red"> *</span>
                        </label>
                        <input id="ip-machine-location-image-left" name="ip-machine-location-image-left" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP007"]]" maxlength="50" />

                        <label for="ip-machine-location-image-top" class="col-form-label text-left text-md-start w-100">
                            @Resources["PMS041", "IP010"] <span class="text-color-red"> *</span>
                        </label>
                        <input id="ip-machine-location-image-top" name="ip-machine-location-image-top" required validationMessage="@localizer["FieldRequired",@Resources["PMS041", "IP007"]]" maxlength="50" />



                        <label for="ip-status" class="col-form-label text-left text-md-start w-100">
                            @Resources["PMS041", "IP011"]
                        </label>
                        <input id="ip-status" name="ip-status" />

                        @* <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2"> *@
                            <label for="ip-calculate-quantity-flag" class="col-form-label text-left text-md-start w-100">
                                @Resources["PMS041", "IP012"]
                            </label>
                            <input id="ip-calculate-quantity-flag" name="ip-calculate-quantity-flag" />
                        @* </div> *@
                    </div>

                   
                 </div>
            </div>
        </div>
    </div>
</div>

