
<div id="window-dialog" style="align-items: center; ">

    <div class="card">
        <div class="card-body">

            <div class="row form-group justify-content-start">
                <input type="hidden" id="status-mode" value="" />

                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-shift-code" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS051", "IP001"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-shift-code" name="ip-shift-code" class="w-100" required validationMessage="@Message["FieldRequired",@Resources["PMS051", "IP001"]]" maxlength="50" />
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-shift-name" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS051", "IP002"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-shift-name" name="ip-shift-name" class="w-100" required validationMessage="@Message["FieldRequired",@Resources["PMS051", "IP002"]]" maxlength="250" />
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-shift-code" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS051", "IP003"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-shift-start-time" name="ip-shift-start-time" class="w-100" required validationMessage="@Message["FieldRequired",@Resources["PMS051", "IP003"]]" maxlength="50" />
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-shift-name" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS051", "IP004"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-shift-end-time" name="ip-shift-end-time" class="w-100" required validationMessage="@Message["FieldRequired",@Resources["PMS051", "IP004"]]" maxlength="250" />
                </div>

                <div class="col-lg-2 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-status" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS051", "IP005"]
                    </label>
                    <input id="ip-status" name="ip-status" />
                </div>
            </div>
        </div>
    </div>
</div>

