@inject IMessageLocalizer localizer
<style>
    #window-dialog.k-window-content {
        margin-left: 0px;
        margin-right: 0px;
    }
</style>


<div id="window-dialog" style="align-items: center; ">

    <div class="card">
        <div class="card-body">

            <div class="row form-group justify-content-start">
                <input type="hidden" id="status-mode" value="" />

                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-plant-code" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS011", "IP001"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-plant-code" name="ip-plant-code" required validationMessage="@localizer["FieldRequired",@Resources["PMS011", "IP001"]]" maxlength="50" />
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-plant-name" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS011", "IP002"] <span class="text-color-red"> *</span>
                    </label>
                    <input id="ip-plant-name" name="ip-plant-name" required validationMessage="@localizer["FieldRequired",@Resources["PMS011", "IP002"]]" maxlength="250" />
                </div>


                <div class="col-lg-2 col-md-6 col-sm-12 mt-2 mb-2">
                    <label for="ip-status" class="col-form-label text-left text-md-start w-100">
                        @Resources["PMS011", "IP003"]
                    </label>
                    <input id="ip-status" name="ip-status" />
                </div>
            </div>
        </div>
    </div>
</div>





